---
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, upDate, image, imageAlt } = Astro.props;
---

<Layout {title} {description} {image}>
  <main>
    <article>
      <header class="hero-image">
        {
          image && (
            <Image width={1000} height={500} src={image} alt={imageAlt || ""} />
          )
        }
      </header>

      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              upDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={upDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</Layout>
